.navbar{

  display:flex;
  flex-direction: row;
  padding-left:5vw;
  padding-right:5vw;
  max-height: 10vw;
  border: 3px solid rgb(109, 3, 3);
  /* border-top: 3px solid rgb(109, 3, 3); */
  background-color: white;
}
.logonav{
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 2.2vw;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 800;
  width:35vw;
  
}
.logonav-nav{
  text-decoration: none;
  color: rgb(109, 3, 3);;
  
}
.logonav:hover{
  cursor: pointer;
}
.menu{
padding-top:.8vw;
padding-bottom: .8vw;
margin-right: 0px;
margin-left: auto;
display:flex;
flex-direction: row;
overflow: auto;
float: right;
font-size: 1.5vw;    
}
@media only screen and (max-width: 768px) {
  .menu{
          padding-top:.8vw;
          padding-bottom: .8vw;
          margin-right: 0px;
          margin-left: auto;
          display:flex;
          flex-direction: row;
          overflow: auto;
          float: right;
          font-size: 2vw;    
    }  
}
.menu>ul{
  font-family: Arial,sans-serif;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1vw;
  padding-left: 1vw;
  display: flex;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;     
}
.menulinks{
padding-top: 0;
padding-bottom: 0;
padding-left: .2vw;
padding-right: .2vw;
text-align: center;
color: rgb(123, 42, 42);
text-decoration: none;
font-weight: 400;
}
.menulinks:hover{
  cursor: pointer;
  color:rgb(109, 3, 3);;
  /* font-weight: bold; */
  transition: all .5s ease-in-out 0s;
}
.menulinks:active{
  color:rgb(109, 3, 3);;
  font-weight: bold;
}       
.login{
  width: 40vw;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border:3px solid rgb(109, 3, 3);
  padding:2.5vw;
  margin-top: 1vw;
  
}
.inpfields{
  height: 2vw;
  width:80%;
  margin-right: 1vw;
  border: 1px solid #900C3F;
  font-family:Arial, sans-serif;
  font-size: .9vw;
  margin-bottom: .5vw;
  margin-left: auto;
  margin-right: auto;
}
.inpfields:focus{
  outline: 1px solid #900C3F;
}
.productcard{
  border:2px solid purple;
  width:max-content;
  text-align: center;
  padding:10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.name, .description{
  font-family: Arial,sans-serif;
  font-size: 25px;
  color:#8d0237;

}
.counte{
  width:30px;
  height: 30px;
  background-color: purple;
  color:white;
  font-size: 20px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
}